body{
    background-color: rgba(0, 0, 0, 0.685);
}

.thebest h2{
    top:0;
    margin-left: 250px;
    color: whitesmoke;
    font-size: 5rem; 
}
.thebest h2:hover{
    color: hsl(0, 0%, 100%);
    text-shadow: hsl(0, 0%, 100%);
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 80vh;
    width: 80vw;
    justify-items: center;
    align-items: center; 
    margin-left: 80px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }

.div1 ,.div2 ,.div3 ,.div4 ,.div5 ,.div6 ,.div7 ,.div8 ,.div9 ,.div10 ,.div11 ,.div12{
    width: 300px;
    height: 300px;
    border:2px solid blanchedalmond;
}
.btn{
  background:red;
  padding: 10px 10px;
  color:whitesmoke ;
  border-radius: 20px;
  margin-left: 80px;
  margin-top:250px ;
 
}
.btn a{
    /* padding: 15px 15px;
    border-radius: 20px; */
    text-decoration: none;
    color:whitesmoke ;

}
.btn:hover{
    background: whitesmoke;
    color: black;
 }
.div1{
    background: url('../img/chocolate1.jpg')no-repeat center center/cover;
}
.div2{
    background: url('../img/chocolate2.jpg')no-repeat center center/cover;
}
.div3{
    background: url('../img/LemonTart_3.webp')no-repeat center center/cover;
}